* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: #f2f4f4;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Encavezado y menu responsive */
.header {
  background-color: aqua;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  color: white;
  width: max-content;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 100px;
  color: #eeeeee;
  font-size: 20px;
}

.nav-menu-link:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.nav-toggel {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* Cuerpo de pagina */
main {
  color: #17202a;
  border: 40px;
  padding: 20px;
  margin: 20px;
}

.titulo1 {
  color: #7eefad;
  display: inline-block;
  line-height: 80px;
  font-weight: bold;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2f7fc8;
}
p {
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Pie de pagina */
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Formulario */

.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  margin: 10px auto;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}
/* para textarea */
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;

  width: 100%;
}

/* Esilos para el boton de enviar */
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}
/* fin del formulario */

.ed {
  color: #7eefad;
  text-align: center;
  margin: 10px;
  width: 100%;
  padding: 10px;
}

.imgWhatsApp,
.imgInstagram,
.imgFacebook {
  width: 50px;
  margin: 5px;
  border: 1px solid #e74c3c; /* Agrega el grosor del borde */
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px grey;
  cursor: pointer;
}

.nav-down {
  display: flex;
  width: 100%;
  justify-content: center;
}

.horizontal-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.item-dawn {
  margin: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }
  .logo {
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin: 0%;
    background-color: rgb(96, 223, 142);
    position: fixed;
    left: 0%;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;

    color: bisque;
  }
  .nav-toggel {
    display: block;
  }

  .nav-menu_visible {
    left: 0%;
  }

  /* ------------- Formulario ------------- */
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  /* Para el textarea */
  .form-row textarea {
    width: 250px;
  }

  /* Esilos para el boton de enviar */
  .form-row button {
    margin-left: 120px;
  }
  /* -------------  Fin Formulario ------------- */
}
